@import '_variables';
$base-size: 16px;
@mixin font-size ($target, $context: $base-size) {
    font-size: ($target/$context) * 1rem;
}

.header {
    .heading {
        @include font-size(35px);
        color: $color-black;
        letter-spacing: 0.01px;
        line-height: 47px;
        position: relative;
        margin-bottom: 60px;
        margin-top: 165px;
        &::before {
            content: '';
            position: absolute;
            background: url(../../images/logo.svg) no-repeat;
            width: 77px;
            height: 57px;
            left: calc(50% - 38px);
            top: -97px;
        }
        &::after {
            content: '';
            width: 150px;
            height: 2px;
            position: absolute;
            background: #70dddb;
            left: calc(50% - 75px);
        }
        span {
            @include font-size(15px);
            font-weight: 400;
            color: $color-gray;
            display: block;
        }
    }
}

.navigation {
    font-weight: 400;
    margin-bottom: 60px;
    .nav-pills .nav-link.active,
    .show>.nav-link {
        color: $color-yellow;
        background-color: $bg-red;
        border-radius: 10px;
    }
    .nav-link {
        @include font-size(15px);
        color: $color-gray;
        padding: 12px 20px;
        margin-right: 15px;
        &:hover {
            color: $color-yellow;
            background-color: $bg-red;
            border-radius: 10px;
        }
    }
}

.portfolio .item {
    overflow: hidden;
    img {
        margin-bottom: 28px;
        width: 100%;
        height: 200px;
        object-fit: cover;
        display: block;
        @media (max-width: 575.98px) {
            object-fit: none;
        }
    }
}

.bg-red {
    @include font-size(15px);
    padding: 12px 48px;
    margin-top: 30px;
    color: $color-yellow;
    background: $bg-red;
    border: none;
    border-radius: 35px;
    &:hover,
    &:focus {
        color: $color-yellow !important;
        background-color: $bg-red !important;
    }
}